<ul>
  <% @bookmarks.map do |bookmark| %>
    <li>
      <%= bookmark['url'] %>
      <%= bookmark['title'] %>
    </li>
  <% end %>
  <!-- <% @bookmarks.map do |bookmark| %>
    <li>

    </li>
  <% end %> -->
</ul>

<form
  action="/bookmarks/new"
  method="get">
  <input type="submit" value="Add_new_bookmark" />
</form>
