<ul>
  <% @bookmarks.map do |bookmark| %>
    <li>
      <a href=<%= bookmark['url'] %>><%= bookmark['title'] %></a>
    </li>
  <% end %>
</ul>

<form
  action="/bookmarks/new"
  method="get">
  <input type="submit" value="Add_new_bookmark" />
</form>
<form
  action="/bookmarks/delete"
  method="get">
  <input type="submit" value="Select" />
</form>
<form
  action="/bookmarks/update_title"
  method="get">
  <input type="submit" value="Update" />
</form>
